<template name="panel">
    <div class="modal show hide" id="modal" role="dialog" data="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{this.header}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{>UI.contentBlock}}</p>
                    <!--It will be replaced by whatever you pass in the callout-->
                </div>
            </div>
        </div>
    </div>
</template>